<h3>{{titulo}}</h3>
<table>
	<tr>
		<th>Codigo</th>
		<th>Nome</th>
		<th>Email</th>
		<th>Matricula</th>
		<th>Vagas</th>
		<th>Editar</th>
		<th>Remover</th>
	</tr>
	<tr *ngFor='let professor of professores'>
		<td>{{professor.codigo}}</td>
		<td>{{professor.nome}}</td>
		<td>{{professor.email}}</td>
		<td>{{professor.matricula}}</td>
		<td>{{professor.vagas}}</td>
		<td><a [routerLink]="['/professores/edicao', professor.codigo]"><span class="glyphicon glyphicon-pencil"></span></a></td>
		<td><a routerLink="/professores/lista" (click)="remover(professor)"><span class="glyphicon glyphicon-trash"></span></a></td>
	</tr>
</table>
<br/>
<button type="button" class="btn btn-primary"  routerLink="/professores/novo">Novo professor</button>