<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink=""><span class="navbar-brand">PI 2</span></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> Aluno <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li><a routerLink="/alunos/lista">Listar</a></li>
                    <li><a routerLink="/alunos/novo">Cadastrar</a></li>
                </ul>
            </li>
             <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> Professor <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li><a routerLink="/professores/lista">Listar</a></li>
                    <li><a routerLink="/professores/novo">Cadastrar</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> Orientadores <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li><a routerLink="/orientadores/lista">Listar</a></li>
                    <li><a routerLink="/orientadores/novo">Vincular</a></li>
                </ul>
            </li>
        </ul>
        <p class="navbar-text navbar-right" style="padding-right: 10px">Por Marcos Castanheira </p>
    </div>
</nav>




<router-outlet></router-outlet>